/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.pane-transparent{
	-fx-background-color:black;
	-fx-opacity:0.7;
}

.pane-transparent pane{
	-fx-opacity:1!important;
}

.btn-simple{
	-fx-background-radius:  0;
	-fx-background-color:  black;
	-fx-border-color:  #ffeb8e;
	-fx-text-fill:white;
}